@import "variables";

.error-page {
    @include centered-page-layout;

    .glitch-wrapper {
        position: relative;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 10rem;
        font-weight: bold;
        color: $text-white;
        margin: 0;
        line-height: 1;
        letter-spacing: -10px;

        // Intense glitch override
        &.intense {
            animation: glitch-intense 0.2s infinite alternate-reverse;
        }
    }

    .error-message {
        font-size: 1.5rem;
        color: $text-main;
        margin-bottom: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .home-link {
        @include tech-button;
    }
}