<ul class="home-social">
    <li>
        <a href="https://github.com/{{ resume.personal.github }}" target="_blank" rel="noopener">
            <span class="icon-link" aria-hidden="true">{% include "icons/github.html" %}</span> GitHub
        </a>
    </li>
    <li>
        <a href="https://linkedin.com/in/{{ resume.personal.linkedin }}" target="_blank" rel="noopener">
            <span class="icon-link" aria-hidden="true">{% include "icons/linkedin.html" %}</span> LinkedIn
        </a>
    </li>
    <li>
        <a href="mailto:{{ resume.personal.email }}">
            <span class="icon-link" aria-hidden="true">{% include "icons/mail.html" %}</span> {{ resume.personal.email }}
        </a>
    </li>
</ul>
