<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

    {% block head_extra %}{% endblock head_extra %}

</head>

<body>

    <header>
        <nav>
            <a href="/">[Resume]</a>
            <a href="/simulations">[Simulations]</a>
            <a href="/blog">[Blog]</a>
        </nav>
        <hr>
    </header>

    <main>

        {% block content %}{% endblock content %}

    </main>

</body>

</html>