{% extends "base.html" %}

{% block head_extra %}
<!-- KaTeX -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css"
    integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js"
    integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous" onload="
        renderMathInElement(document.body, 
            { 
                delimiters: [ 
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\(', right: '\\)', display: false},
                    {left: '\\[', right: '\\]', display: true} 
                ] 
            });
    "></script>
{% endblock head_extra %}

{% block content %}
<article class="post-container">
    <header class="post-header">
        <div class="breadcrumbs">
            <a href="/blog">..</a>/{{ page.slug }}
        </div>

        <h1 class="glitch-text">{{ page.title }}</h1>

        <div class="post-meta">
            <span>// AUTHOR: {{ page.author | default(value="SYSADMIN") }}</span>
            <span>// READING_TIME: {{ page.reading_time }} MIN</span>
            <span>// DATE: {{ page.date | date(format="%Y-%m-%d") }}</span>
        </div>
    </header>

    <hr>

    <div class="post-content">
        {{ page.content | safe }}
    </div>

    <footer class="post-footer">
        <p>EOF</p>

        <nav class="post-nav">
            {% if page.lower %}
            <a href="{{ page.lower.permalink }}">
                << PREV_LOG</a>
                    {% else %}
                    <span></span>
                    {% endif %}

                    {% if page.higher %}
                    <a href="{{ page.higher.permalink }}">NEXT_LOG >></a>
                    {% endif %}
        </nav>
    </footer>
</article>
{% endblock content %}