<header class="resume-container">

    <h1 class="glitch-text">{{ resume.personal.name }}</h1>

    <h3 class="subtitle">
        {% for item in resume.personal.keywords %}
        <span>{{ item }}</span>
        {% endfor %}
    </h3>

    {% include "partials/contact_info.html" %}

    <div class="resume-actions">
        <a href="/resume.pdf" target="_blank" class="btn-download">
            <span class="icon-link" style="margin-right: 0.5rem;">{% include "icons/download.html" %}</span>
            resume.pdf
        </a>
    </div>

</header>